<!-- Start Footer -->
<div class="container-fluid">
  <div class="footer bg-dark text-secondary-emphasis mt-4 pt-5 pb-5" style="opacity: 0.9;">
    <div class="container">
      <div class="Adel_font row row-cols-4 text-light-emphasis">
        <div class="col p-2 footer_grid">
          <h3 class="footer-title mt-3">تواصل معنا</h3>

          <ul class="info">
            <li>
              <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
              مصر - الحي الثالث 32541 <span>القاهرة الجديدة.</span>
            </li>
            <li>
              <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a
                href="mailto:info@example.com">info@.com</a>
            </li>
            <li>
              <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567
            </li>
          </ul>
        </div>
        <div class="col p-2 footer_grid">
          <h3 class="footer-title mt-3">معلومــات</h3>
          <ul class="info">
            <li>
              <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="about.html">معلومــات
                عنا</a>
            </li>
            <li>
              <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="contact.html">تواصل
                معنا</a>
            </li>
            <li>
              <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="short-codes.html">المختصر</a>
            </li>
            <li>
              <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="faq.html">طرق الدفع </a>
            </li>
            <li>
              <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="products.html">المنتجات
                المفضلة</a>
            </li>
          </ul>
        </div>
        <div class="col p-2 footer_grid">
          <h3 class="footer-title mt-3">الأصنـــاف</h3>
          <ul class="info">
            <li>
              <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="groceries.html">المنتجات
                المميزة</a>
            </li>
            <li>
              <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="household.html">الأكثر
                مبيعا</a>
            </li>
            <li>
              <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="personalcare.html">السلة</a>
            </li>
            <li>
              <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="packagedfoods.html">المنتجات</a>
            </li>
            <li>
              <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="beverages.html">بيع علي
                جوميا</a>
            </li>
          </ul>
        </div>
        <div class="col p-2 footer_grid">
          <h3 class="footer-title mt-3">الحســـاب</h3>
          <ul class="info">
            <li>
              <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="products.html">المخزن</a>
            </li>
            <li>
              <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="checkout.html">أنضم
                الينا</a>
            </li>
            <li>
              <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="login.html">تسجيل
                الدخول</a>
            </li>
            <li>
              <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="registered.html">متابعة
                الحساب</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copy header-banner">
    <div class="container">
      <p class="text-center text-dark pt-4 fs-5">
        © 2023 Super Market. All lefts reserved | Design by
        <a class="text-light" href="http://w3layouts.com/">Team ITI Graduation
        </a>
      </p>
    </div>
    <div>
      <ul class="d-flex justify-content-center mt-3 mb-4 text-light fs-3 flex-row">
        <li>
          <a href="#" class="w3_agile_facebook m-4"><i class="fa fa-facebook text-light" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#" class="agile_twitter m-4"><i class="fa fa-twitter text-light" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#" class="w3_agile_dribble m-4"><i class="fa fa-dribbble text-light" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#" class="w3_agile_vimeo m-4"><i class="fa fa-vimeo text-light" aria-hidden="true"></i></a>
        </li>
      </ul>
      <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: block;"><i
          class="fa-solid fa-arrow-up"></i></a>
    </div>
  </div>
</div>
<!-- End Footer -->