<!-- Start Header  -->
<div class="container p-0" id="top">
  <!-- Start Banner  -->
  <div class="container">
    <div class="header-banner">
      <div class="container h-25">
        <div class="row d-flex justify-content-around">
          <div class="col w-25 w-md-50 col-lg-100">
            <img
              class="w-100 w-md-50 col-lg-100"
              src="../../../assets/images/home/headerRamadanAR.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Banner  -->

  <!-- Child Banner  -->
  <div class="container">
    <div class="child-banner">
      <div class="container">
        <div class="row pt-2 pb-2">
          <div class="col-5 text-main-color">
            <i class="fa-regular ps-2 fa-star-half-stroke"></i>
            بيع جوميا
          </div>
          <div class="col-2 text-center pb-2">
            <i class="fa-brands fa-amazon-pay"></i>
          </div>
          <div class="col-5">
            <div class="row col-12 d-flex justify-content-end">
              <div class="col-3 border-end">
                <img src="../../../assets/images/arabic.png" alt="" />
                عربي
              </div>
              <div class="col-3">
                <img src="../../../assets/images/english.png" alt="" />
                انجليزي
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Banner  -->

  <!-- navigation -->
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-light">
      <div class="container">
        <div class="row w-100">
          <div class="col-3">
            <div class="row">
              <div class="col-1 nav-item dropdown ms-3 d-none d-lg-flex">
                <a
                  class="nav-link"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa-solid fa-bars"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end mt-3">
                  <li class="m-2">
                    <a
                      class="dropdown-item d-flex justify-content-start"
                      routerLink="/product/allproducts"
                      routerLinkActive="active"
                      >المنتجات</a
                    >
                  </li>
                  <li class="m-2">
                    <a
                      class="dropdown-item d-flex justify-content-start"
                      routerLink="/product/productdetails"
                      routerLinkActive="active"
                    >
                      تفاصيل المنتجات</a
                    >
                  </li>

                  <li class="m-2">
                    <a
                      class="dropdown-item d-flex justify-content-start"
                      href="#"
                      >إلغاء طلبي</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col text-main-color">
                <a routerLink="/home" class="text-main-color">
                  <i class="fa-regular ps-2 fa-star-half-stroke ms-2"></i>
                  JUMIA</a
                >
              </div>
            </div>
          </div>
          <div class="col-5">
            <div>
              <div class="input-group">
                <span class="input-group-text" id="addon-wrapping"
                  ><i class="fa-solid fa-magnifying-glass"></i
                ></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="البحث عن منتجات ، اصناف"
                  aria-label="Example text with button addon"
                  aria-describedby="button-addon1"
                />
                <button type="button" class="btn rounded-4 search">
                  بحث
                </button>
              </div>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>
          <div class="col-4">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa-regular fa-user"></i>
                    الحســاب
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end m-2">
                    <li class="btn btn-warning m-2">
                      <a
                        class="dropdown-item d-flex justify-content-start"
                        routerLink="/login"
                        routerLinkActive="active"
                        *ngIf="!_authServices.loggedIn()"
                        >تسجيل الدخول</a
                      >
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a
                        class="dropdown-item d-flex justify-content-start"
                        routerLink="/Register"
                        routerLinkActive="active"
                        *ngIf="!_authServices.loggedIn()"
                      >
                        <i class="fa-regular fa-user ms-2"></i>
                        انشاء حساب
                      </a>
                    </li>
                    <li (click)="_authServices.LogOut()">
                      <a
                        class="dropdown-item d-flex justify-content-start"
                        routerLink="/home"
                        routerLinkActive="active"
                        *ngIf="_authServices.loggedIn()"
                      >
                        <i class="fa-regular fa-user ms-2"></i>
                        تسجيل خروج
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa-regular fa-circle-question"></i>
                    مســاعدة
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li class="m-2">
                      <a
                        class="dropdown-item d-flex justify-content-start"
                        routerLink="/contacts/contact"
                        routerLinkActive="active"
                        >مركز المساعدة</a
                      >
                    </li>
                    <li class="m-2">
                      <a
                        class="dropdown-item d-flex justify-content-start"
                        href="#"
                        >المساعدة في طلبك</a
                      >
                    </li>

                    <li class="m-2">
                      <a
                        class="dropdown-item d-flex justify-content-start"
                        href="#"
                        >إلغاء طلبي</a
                      >
                    </li>
                    <li class="m-2">
                      <!-- <a class="dropdown-item d-flex justify-content-start" href="AboutUs.html">نبذه عنا</a> -->
                      <a
                        class="dropdown-item d-flex justify-content-start"
                        routerLink="/AboutUss/AboutUs"
                        routerLinkActive="active"
                        >نبذه عنا</a
                      >
                      <!-- <a class="nav-link" routerLink="/AboutUs" routerLinkActive="active">About Us</a> -->
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link"
                    aria-current="page"
                    routerLink="/cart/cartitem"
                    routerLinkActive="active">
                 
                    <i class="fa-solid fa-cart-plus">
                    </i>
                    <div class="cart_value ">
                      {{cartItem}}
                    </div>
                    سلة التسوق
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!--navigation -->
  <!-- Start Slider  -->

  <!-- End Slider  -->
</div>
<!-- End Header -->
