<div class="container my-4">
  <div class="row">
    <div class="col-12 text-center d-flex justify-content-center">
      <div class="card mb-4">
        <div class="card-body w-25 h-25 m-auto">
          <img
            src="../../../../assets/images/24-248253_user-profile-default-image-png-clipart-png-download.png"
            alt="User Profile Picture"
            class="img-fluid rounded-circle mb-3"
          />

          <h5 class="card-title d-flex">
            <div class="m-auto">
              {{USerData.firstname}} {{USerData.lastname}}
            </div>
          </h5>
          <p class="card-text">
            From: {{USerData.fullAddress}}
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a [routerLink]="['/profile/MyOrders']">Orders</a>
          </li>
          <li class="list-group-item">
            <a [routerLink]="['/profile/addressbook']">Address Book</a>
          </li>
          <li class="list-group-item">
            <a [routerLink]="['/profile/payment']">Payment Methods</a>
          </li>
          <li class="list-group-item">
            <a [routerLink]="['/profile/editprofile']">Edit Profile</a>
          </li>
          <li class="list-group-item">
            <a [routerLink]="['/profile/changepassword']">Change Password</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="col-md-8">
      <router-outlet></router-outlet>
    </div> -->
  </div>
</div>
