<div class="container my-4">
  <h2>Orders</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Date</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of carts">
        <td>{{ order.id }}</td>
        <td>{{ order.paymentDate }}</td>
        <td>{{ order.totalCost | currency }}</td>

        <div (ng-switch)="order.cartStatusId">
          <td (ng-switch-when)="0">Completed</td>
          <td (ng-switch-when)="1">Pending</td>
          <td (ng-switch-when)="2">Open</td>
          <td (ng-switch-when)="3">AwaitingApproval</td>
          <td (ng-switch-when)="3">Closed</td>
        </div>
        <td>
          <button type="button" class="btn btn-link" (click)="viewOrderDetails(order)">View</button>
          <button type="button" class="btn btn-link" (click)="editOrder(order)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>