

<div class="container my-4">
  <h2>Orders</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Date</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.date }}</td>
        <td>{{ order.total | currency }}</td>
        <td>{{ order.status }}</td>
        <td>
          <button type="button" class="btn btn-link" (click)="viewOrderDetails(order)">View</button>
          <button type="button" class="btn btn-link" (click)="editOrder(order)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
