<div class="container">
  <div class="container square-box d-flex justify-content-center">
    <div>
      <img src="../assets/images/myjumia-top-logo.png" class="card-img-top my-5" style="width: 8rem !important;">

    </div>
  </div>

  <div class="container square-box d-flex justify-content-center">
    <div>
      <h2>What's your Email?</h2>
    </div>
  </div>

  <div class="container square-box d-flex justify-content-center">
    <div>
      <h5 class="opacity-75">
        <h3>Type your phone number to log in or create a Jumia account.</h3>
      </h5>
    </div>
  </div>

  <form class="form">
    <div class="m-5"></div>
    <div class="container square-box d-flex justify-content-center">
      <div class="inputbox">
        <input
          [(ngModel)]="login_User_data.email"
          name="email"
          type="email"
          class="form-control rounded-0"
        />
        <span>
          <h2>Email</h2>
        </span>
      </div>
    </div>

    <div class="m-5"></div>
    <div class="container square-box d-flex justify-content-center">
      <div class="inputbox">
        <input
          type="password"
          [(ngModel)]="login_User_data.password"
          name="Password"
          class="form-control rounded-0"
        />
        <span>
          <h2>Password</h2>
        </span>
      </div>
    </div>

    <div class="container square-box d-flex justify-content-center my-5">
      <div>
        <button (click)="login_User()" type="button" class="btn btn-success">
          Log in
        </button>
      </div>
    </div>
  </form>
  <div class="container square-box d-flex justify-content-center">
    <div class="linkToRegister">
      <a routerLink="/register">
        <h3>Login in or Register With Phone Number</h3>
      </a>
    </div>
  </div>

  <div class="container square-box d-flex justify-content-center my-5">
    <div>
      <button
        type="button"
        class="btn btn-sign-in-continue shadow-lg bg-primary"
      >
        <h3 style="color: aliceblue;">
          <i class="bi bi-facebook"></i> login in with facebook
        </h3>
      </button>
    </div>
  </div>

  <footer
    class="container square-box d-flex justify-content-center"
    style="margin-top: 5%;"
  >
    <span>
      <h4>
        For further support, you may visit the Help Center or contact our
        customer service team.
      </h4>
    </span>
  </footer>
</div>
