<div class="container">
    <div class="row"> 


        <!-- Map -->
        <div class="col-lg-6 col-sm-12 ">
            <div class="card border-0">
              <div class="card-body ">
                <div class="mapouter shadow-lg">
                  <div class="gmap_canvas">
                    <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                      src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Qena&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                    </iframe><a href="https://pdflist.com/" alt="pdf">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          
          <!-- end Map -->
        </div>



        <div class="col-lg-6 col-sm-12 my-3 ">


            <div class="col-lg-12 col-sm-12 my-3 ">
            
                <!-- start contact -->
                <div class="card shadow-lg border-0 rounded">
                  <div class="card-body bg-primary ">
                    <div class="border border-light">
                      <div class="border border-light m-1">
                        <div class="container overflow-hidden text-center ">
                          <div class="row">
                            <div class="col-lg-12 ">
                              <div class="p-3">
                                <h1>Contact Info</h1>
                              </div>
                            </div>
                            <div class="col-lg-12 ">
                              <div class="p-3 text-light">
                                <h4>ITI SVU, 4th block, Qena City. </h4>
                              </div>
                            </div>
      
                            <div class="p-3">
                              <div class="mx-5 ">
                                <i class="bi bi-envelope media text-light"></i>
                                <h5 class="text-light EmailContactUs "><a href="#">Qena@gmail.com</a></h5>
                              </div>
                                
                                <div>
                                  <i class="bi bi-telephone-fill media text-light "></i>
                               <h5 class="text-light">01003513578</h5></div>
                                </div>
                            <div class="col-lg-12 col-sm-12  mx-5">
                              <div class="p-3 ">
                                  <div class=" d-flex p-3 ">
                                    <div class="col">
                               <div class="col-4 media  bg-light rounded " >
                                  <a href=""><i class="bi bi-facebook ba-info" ></i></a> 
                               </div>  
                              </div>
                              <div class="col">
                                <div class="col-4 media bg-light rounded">
                                <a href=""> <i class="bi bi-twitter text-primary "></i></a> 
                                </div>
                              </div>
                              <div class="col">
                                <div class="col-4 media bg-light rounded">
                                  <a href="" ><i class="bi bi-instagram text-danger "></i></a>
                                </div>
                              </div>
                              </div>
      
      
                             
                            </div>
                            <div class="col-lg-12 col-sm-12  ">
                              <div class="p-3">
                                <div class=" d-flex ">
                                  <div class="col media bg-light rounded">
                                    <a href=""><i class="bi bi-facebook ba-info"></i></a>
                                  </div>
                                  <div class="col media bg-light rounded">
                                    <a href=""> <i class="bi bi-twitter text-primary "></i></a>
                                  </div>
                                  <div class="col media bg-light rounded">
                                    <a href=""><i class="bi bi-instagram text-danger "></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
      
                          </div>
      
                        </div>
                      </div>
      
                    </div>
                  </div>
      
                </div>
      
                <!-- start Form -->
                <div class="card border-0 shadow-lg my-3">
                  <div class="card-body">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">
                        <h5>Email address</h5>
                      </label>
                      <input type="email" class="form-control rounded-0  border-primary" id="exampleFormControlInput1"
                        placeholder="Write Your Name Here">
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">
                        <h5>Email address</h5>
                      </label>
                      <input type="email" class="form-control rounded-0 border-primary" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">
                        <h5>Example textarea</h5>
                      </label>
                      <textarea class="form-control rounded-0 border-primary" id="exampleFormControlTextarea1 " rows="3"
                        placeholder="Write Your Text"></textarea>
                    </div>
                    <div class="mb-3 ">
                      <button type="button" class="btn btn-dark w-100 rounded-0">
                        <h4>Submit</h4>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- endform -->
              </div>
            </div>

      </div>
   
    
</div>
</div>
