<!-- start single product -->
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-lg-12 col-md-7 left" >
            <div class="row g-0  position-relative border shadow">
                <div class="col-md-4 mb-md-0 p-md-4" *ngFor="let imgpath of imgurl">
                    <img [src]="imgpath.url" class="w-100 mb-3">
                    <hr>
                    <!-- <h6>SHARE THIS PRODUCT</h6>
                  <div>
                      <a href=""><i class="fa-brands fa-facebook"></i></a>
                      <a href=""><i class="fa-brands fa-twitter"></i></a>
                  </div> -->
                </div>
                <div class="col-md-8 p-4 ps-md-0 ">
                    <div class="d-flex">
                        <h5 class="mt-0 col-11"><span class="badge bg-secondary">official store</span></h5>
                        <button type="button" class="btn btn-light"><i
                                class="fa-regular fa-heart text-warning"></i></button>
                    </div>
                 
                    <h5>{{prod.name}}</h5>
                    <!-- <p>Brand : <a href="#">Caesar</a> | <a href="#"> Similar products from Caesar</a> </p> -->
                    <p>{{prod.discription}}</p>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star "></span>
                        <span>(<a href="#">14 verified ratings</a>)</span>
                    </div>
                    <!-- <h6><span class="badge bg-warning">Buy £400 Get £200 OFF </span></h6> -->
                    <hr>
                    <h3>EGP{{prod.unitPrice}}</h3>
                    <span class="text-decoration-line-through h6">EGP 474.00 </span><span
                        class="text-warning ms-2 h6">{{prod.discountPercent}}</span>
                    <p>+ delivery from EGP 10.83 (free delivery if order above EGP 200.00) to 6th of October</p>
                    <hr>
                    <div class="d-flex ">
                        <h5 class="col-10">VARIATION AVAILABLE</h5>
                        <!-- <a href="#" class="ms-1">Size Guide</a> -->
                    </div>
                    <div>
                        <!-- <button type="button" class="btn btn-light text-dark border">S</button>
                        <button type="button" class="btn btn-light text-dark border">M</button>
                        <button type="button" class="btn btn-light text-dark border">L</button>
                        <button type="button" class="btn btn-light text-dark border disabled">XL</button>
                        <button type="button" class="btn btn-light text-dark border disabled">XXL</button> -->
                    <span class=" h6">{{prod.isFeatured}}</span>
                        
                        <span class="plus_minus_Details">
                        <button type="button" class="pm" (click)="dec(prod)"><i class="fa fa-minus"></i></button>

                        <span class="mx-2"></span>

                        <span>{{prod.quantity}}</span>

                        <span class="mx-2"></span>
                        <button type="button" class="pm" (click)="inc(prod)"><i class="fa fa-plus"></i></button>
                         </span>

                    </div>
                    <button class="btn btn-warning w-100 mt-3 text-light" type="button" (click)="addCart(prod)">
                    
                        <i class="fa-solid fa-cart-plus"></i>ADD To Cart</button>
                    <!-- <hr> -->
                    <!-- <h5>PROMOTIONS</h5>
                  <p><a href="#"> <i class="fa-solid fa-paper-plane text-warning me-2"></i> Free Shipping
                          Nationwide, on orders above 200 EGP</a></p>
                  <p><a href="#"> <i class="fa-regular fa-star text-warning me-2"></i> Enjoy installments from
                          6 months to 60 months with valU.</a></p>
                  <p><a href="#"> <i class="fa-solid fa-shield-halved text-warning me-2"></i>You can now
                          charge your electricity card easily from your phone </a></p> -->
                </div>
            </div>
            <div class="row  g-0  position-relative border shadow mt-5">
                <div class="card">
                    <h4 class="card-header">
                        Product details
                    </h4>
                    <div class="card-body">
                        <p>You can shop for anything you need from our store with a very affordable prices
                            and best materials and it is a really easy way to find good quality products
                            you can check out our store on Jumia</p>
                    </div>
                </div>
            </div>
            <div class="row  g-0  position-relative  shadow mt-5">
                <div class="card">
                    <h4 class="card-header">
                        Specifications
                    </h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <div class="card">
                                    <h6 class="card-header">
                                        KEY FEATURES
                                    </h6>
                                    <div class="card-body">
                                        <ul>
                                            <li class="">Our Model Is wearing Size M</li>
                                            <li>Cotton Material</li>
                                            <li>Regular fit</li>
                                            <li>Elastic Waist With Drawstring</li>
                                            <li>Striped pattern</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <h6 class="card-header">
                                        SPECIFICATIONS
                                    </h6>
                                    <div class="card-body">
                                        <ul style="list-style-type: none;">
                                            <li><span class="h6">SKU :</span> <span> BR241MW19PUP3NAFAMZ</span>
                                            </li>
                                            <li><span class="h6">Model :</span> <span> 9882</span></li>
                                            <li><span class="h6">Production Country :</span> <span> Egypt</span>
                                            </li>
                                            <li><span class="h6">Color :</span> <span> DarkGrey</span></li>
                                            <li><span class="h6">Main Material :</span> <span> Cotton</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-0  position-relative border shadow mt-5">
                <div class="card">
                    <h4 class="card-header">
                        Customers who viewed this also viewed
                    </h4>
                    <div class="card-body">
                        <div id="carouselExample" class="carousel slide p-2">
                            <div class="carousel-inner">
                                <div class="carousel-item active p-2">
                                    <div class="row ">
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/1.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.005 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/2.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/3.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/4.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/5.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/6.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/5.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/6.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/7.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/8.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/9.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/10.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/1.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/2.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/3.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00</h6>
                                        </div>
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/4.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/5.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00</h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/6.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon bg-warning" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon bg-warning" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-0  position-relative border shadow mt-5">
                <div class="card">
                    <h4 class="card-header">
                        You may also like
                    </h4>
                    <div class="card-body">
                        <div id="carouselExamplee" class="carousel slide p-2">
                            <div class="carousel-inner">
                                <div class="carousel-item active p-2">
                                    <div class="row ">
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/1.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.005 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/2.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/3.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/4.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/5.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/6.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/5.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/6.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/7.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/8.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/9.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/10.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/1.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/2.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/3.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00</h6>
                                        </div>
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/4.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/5.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00</h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/6.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExamplee"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon bg-warning" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExamplee"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon bg-warning" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-0  position-relative border shadow mt-3">
                <div class="p-3">
                    <h4>
                        Verified Customer Feedback
                    </h4>
                    <hr>
                </div>
                <div class="col-md-4 mb-md-0 p-md-2">
                    <h6 class="">VERIFIED RATINGS (14)</h6>
                    <div class=" text-center bg-body-tertiary p-md-4 m-1 mt-3">
                        <div class="card-body">
                            <h3 class="card-title text-warning">3.8/5</h3>
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked "></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </div>
                        <div class="text-muted">14 verified ratings </div>
                    </div>
                    <div class="row">
                        <div>5 <span class="fa fa-star checked"></span> <span class="text-muted">(6)</span>
                            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-warning w-75"></div>
                            </div>
                        </div>
                        <div>4 <span class="fa fa-star checked"></span> <span class="text-muted">(5)</span>
                            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-warning w-50"></div>
                            </div>
                        </div>
                        <div>3 <span class="fa fa-star checked"></span> <span class="text-muted">(2)</span>
                            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-warning w-25"></div>
                            </div>
                        </div>
                        <div>2 <span class="fa fa-star checked"></span> <span class="text-muted">(0)</span>
                            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-warning "></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 p-md-2 ps-md-0 ">
                    <h6>PRODUCT REVIEWS (4)</h6>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star  "></span>
                        <span class="fa fa-star "></span>
                    </div>
                    <p>علي اد ثمنه تقريبآ</p>
                    <p>هو ب ١٥٠ بس حلو عليه يبقي ب ١٠٠</p>
                    <p class="text-muted">29-01-2023by Shorouk</p>
                    <hr>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                    </div>
                    <p>ممتاااااز</p>
                    <p>شيك وخامته حلوة وسعره كويس</p>
                    <p class="text-muted">29-01-2023by Shorouk</p>
                    <hr>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked"></span>
                    </div>
                    <p>جيد</p>
                    <p>قماشته حلوة</p>
                    <p class="text-muted">29-01-2023by Shorouk</p>
                    <hr>
                </div>
            </div>
        </div>

        <!-- <div class="col-12 col-md-3 right   ">
          <div class="row">
              <div class="card w-100">
                  <div class="card-body">
                      <h5 class="card-title">DELIVERY & RETURNS</h5>
                      <hr>
                      <span class="card-text">Express delivery in main cities. <a href="#">Details</a></span>
                      <hr>
                      <h6>Choose your location</h6>
                      <div>
                          <select class="form-select" aria-label="Default select example">
                              <option selected>Matroh</option>
                              <option value="1">Cairo</option>
                              <option value="2">Giza</option>
                              <option value="3">Alex</option>
                          </select>
                      </div>
                      <div class="mt-3">
                          <select class="form-select" aria-label="Default select example">
                              <option selected>6th-October</option>
                              <option value="1">one</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                          </select>
                      </div>
                      <div class="row mt-3">
                          <div class="col-2 h3"><i class="fa-solid fa-truck w-100"></i></div>
                          <div class=" col-10">
                              <div class="d-flex ">
                                  <p class="fw-bold col-9">Door Delivery</p>
                                  <a href="#" class="col-md-3 ">Details</a>
                              </div>
                              <span>Delivery EGP 22.23 (free delivery if order above EGP 200.00)</span>
                              <p>Delivery by 05 March when you order within next 3hrs 41mins</p>
                          </div>
                          <hr>
                      </div>
                      <div class="row">
                          <div class="col-2 h3"><i class="fa-solid fa-hands-holding-circle"></i></div>
                          <div class="col-10">
                              <div class="d-flex ">
                                  <p class="fw-bold col-9">Pickup Station</p>
                                  <a href="#" class="col-md-3">Details</a>
                              </div>
                              <span>Delivery EGP 22.23 (free delivery if order above EGP 200.00)</span>
                              <p>Delivery by 05 March when you order within next 3hrs 41mins</p>
                          </div>
                          <hr>
                      </div>
                      <div class="row">
                          <div class="col-2 h3"><i class="fa-solid fa-rotate-left"></i></div>
                          <div class="col-10">
                              <div class="d-flex ">
                                  <p class="fw-bold col-9">Return Policy</p>
                              </div>
                              <span>Free return within the legal return period from 14 to 30 days, and if they
                                  meet the terms & conditions,
                                  For more details about return policy. <a href="#">See more </a></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row mt-5"> </div>
          <div class="row mt-5"> </div>
          <div class="row mt-5"> </div>
          <div class="row mt-2 ">
              <div class="d-flex position-relative card">
                  <div class="row p-2">
                      <div class="col-md-4">
                          <img src="../assets/images/1.jpg" class="flex-shrink-0 me-3 w-100" alt="...">
                      </div>
                      <div class="col-md-8">
                          <P class="mt-1">Caesar Solid Gabardine</P>
                          <h6>EGY 180.00-EGY 189.00</h6>
                          <span class="text-decoration-line-through text-muted">EGP 474.00 </span><span
                              class="text-warning ms-2 h6">-62%</span>
                      </div>
                      <button class="btn btn-warning w-100 mt-3 text-light" type="button"><i
                              class="fa-solid fa-cart-plus"></i> ADD To Cart</button>
                  </div>
              </div>
          </div>
          <div class="row mt-3">
              <div class="card text-center" style="width: 100%;">
                  <div class="card-body">
                      <p class="card-text">Questions about this product?</p>
                      <button type="button" class="btn btn-light text-warning"><i
                              class="fa-regular fa-comment"></i> CHAT</button>
                  </div>
              </div>
          </div>
         
      </div> -->

        <!-- end  -->
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row g-0  position-relative border shadow mt-5">
                <div class="card">
                    <h4 class="card-header">
                        More items from this seller
                    </h4>
                    <div class="card-body">
                        <div id="carouselExampleee" class="carousel slide p-2">
                            <div class="carousel-inner">
                                <div class="carousel-item active p-2">
                                    <div class="row ">
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/1.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.005 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/2.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/3.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/4.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/5.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/6.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/5.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/6.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/7.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/8.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/9.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/10.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/1.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/2.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/3.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00</h6>
                                        </div>
                                        <div class="col-2 position-relative">
                                            <p class="text-warning  h6 position-absolute top-0 end-0">-62%</p>
                                            <img src="../assets/images/4.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                            <span class="text-decoration-line-through ">EGP 474.00 </span>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/5.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00</h6>
                                        </div>
                                        <div class="col-2">
                                            <img src="../assets/images/6.jpg" class="w-100" alt="...">
                                            <p>Cesar Solid Gabardine</p>
                                            <h6>EGP 181.00 </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleee"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon bg-warning" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleee"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon bg-warning" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="col-1"> </div>
</div>

<!-- end single product -->