<!--Body Content-->
<div id="page-content">
  <!--Collection Banner-->
  <div class="container collection-header">
    <div class="collection-hero">
      <div class="collection-hero__image">
        <img
          class="lazyload"
          data-src="assets/images/cat-women.jpg"
          src="../../../../assets/images/home/slider5.jpg"
          alt="product"
          title="product"
        />
      </div>
      <div class="collection-hero__title-wrapper">
        <!-- <h1 class="collection-hero__title page-width">All Products</h1> -->
      </div>
    </div>
  </div>
  <!--End Collection Banner-->

  <div class="container mt-2">
    <div class="row">
      <!--Sidebar-->
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar filterbar">
        <div class="closeFilter d-block d-md-none d-lg-none">
          <i class="icon icon anm anm-times-l"></i>
        </div>
        <div class="product-filter mt-5">
          <label for="category-select">Filter by Category:</label>
          <select id="category-select" [(ngModel)]="receivedCatID">
            <option value="0" selected>All Categories</option>
            <option *ngFor="let category of categories" [value]="category.id"
              >{{ category.name }}</option
            >
          </select>
          <div class="sidebar_tags">
            <!--Categories-->
            <!-- <div class="sidebar_widget categories filter-widget">
              <div class="widget-title">
                <h2>Categories</h2>
              </div>
              <div class="widget-content">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                      >Active</a
                    >
                  </li>
                  <li class="nav-item lvl-1 dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li>
                        <a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li>
                        <hr class="dropdown-divider" />
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          >Something else here</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item lvl-1">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item lvl-1">
                    <a class="nav-link disabled">Disabled</a>
                  </li>
                </ul>
              </div>
            </div> -->
            <!--Categories-->
            <!--Price Filter-->
            <!-- <div class="sidebar_widget filterBox filter-widget">
              <div class="widget-title">
                <h2>Price</h2>
              </div>
              <form action="#" method="post" class="price-filter">
                <div
                  id="slider-range"
                  class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                >
                  <div
                    class="ui-slider-range ui-widget-header ui-corner-all"
                  ></div>
                  <span
                    class="ui-slider-handle ui-state-default ui-corner-all"
                    tabindex="0"
                  ></span>
                  <span
                    class="ui-slider-handle ui-state-default ui-corner-all"
                    tabindex="0"
                  ></span>
                </div>
                <div class="row">
                  <div class="col-6">
                    <p class="no-margin"><input id="amount" type="text" /></p>
                  </div>
                  <div class="col-6 text-right margin-25px-top">
                    <button class="btn btn-secondary btn--small">filter</button>
                  </div>
                </div>
              </form>
            </div> -->
            <!--End Price Filter-->
            <!--Size Swatches-->
            <!-- <div class="sidebar_widget filterBox filter-widget size-swacthes">
              <div class="widget-title">
                <h2>Size</h2>
              </div>
              <div class="filter-color swacth-list">
                <ul>
                  <li><span class="swacth-btn checked">X</span></li>
                  <li><span class="swacth-btn">XL</span></li>
                  <li><span class="swacth-btn">XLL</span></li>
                  <li><span class="swacth-btn">M</span></li>
                  <li><span class="swacth-btn">L</span></li>
                  <li><span class="swacth-btn">S</span></li>
                  <li><span class="swacth-btn">XXXL</span></li>
                  <li><span class="swacth-btn">XXL</span></li>
                  <li><span class="swacth-btn">XS</span></li>
                </ul>
              </div>
            </div> -->
            <!--End Size Swatches-->
            <!--Color Swatches-->
            <!-- <div class="sidebar_widget filterBox filter-widget">
              <div class="widget-title">
                <h2>Color</h2>
              </div>
              <div class="filter-color swacth-list clearfix">
                <span class="swacth-btn black"></span>
                <span class="swacth-btn white checked"></span>
                <span class="swacth-btn red"></span>
                <span class="swacth-btn blue"></span>
                <span class="swacth-btn pink"></span>
                <span class="swacth-btn gray"></span>
                <span class="swacth-btn green"></span>
                <span class="swacth-btn orange"></span>
                <span class="swacth-btn yellow"></span>
                <span class="swacth-btn blueviolet"></span>
                <span class="swacth-btn brown"></span>
                <span class="swacth-btn darkGoldenRod"></span>
                <span class="swacth-btn darkGreen"></span>
                <span class="swacth-btn darkRed"></span>
                <span class="swacth-btn dimGrey"></span>
                <span class="swacth-btn khaki"></span>
              </div>
            </div> -->
            <!--End Color Swatches-->
            <!--Brand-->
            <!-- <div class="sidebar_widget filterBox filter-widget">
              <div class="widget-title">
                <h2>Brands</h2>
              </div>
              <ul>
                <li>
                  <input type="checkbox" value="allen-vela" id="check1" />
                  <label for="check1"
                    ><span><span></span></span>Allen Vela</label
                  >
                </li>
                <li>
                  <input type="checkbox" value="oxymat" id="check3" />
                  <label for="check3"
                    ><span><span></span></span>Oxymat</label
                  >
                </li>
                <li>
                  <input type="checkbox" value="vanelas" id="check4" />
                  <label for="check4"
                    ><span><span></span></span>Vanelas</label
                  >
                </li>
                <li>
                  <input type="checkbox" value="pagini" id="check5" />
                  <label for="check5"
                    ><span><span></span></span>Pagini</label
                  >
                </li>
                <li>
                  <input type="checkbox" value="monark" id="check6" />
                  <label for="check6"
                    ><span><span></span></span>Monark</label
                  >
                </li>
              </ul>
            </div> -->
            <!--End Brand-->
            <!--Popular Products-->
            <!-- <div class="sidebar_widget">
              <div class="widget-title">
                <h2>Popular Products</h2>
              </div>
              <div class="widget-content">
                <div class="list list-sidebar-products">
                  <div class="grid">
                    <div class="grid__item">
                      <div class="mini-list-item">
                        <div class="mini-view_image">
                          <a class="grid-view-item__link" href="#">
                            <img
                              class="grid-view-item__image"
                              style="height: 20rem;"
                              src="../../../../assets/images/home/slider5.jpg"
                              alt=""
                            />
                          </a>
                        </div>
                        <div class="details">
                          <a class="grid-view-item__title" href="#"
                            >Cena Skirt</a
                          >
                          <div class="grid-view-item__meta">
                            <span class="product-price__price"
                              ><span class="money">$173.60</span></span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="grid__item">
                      <div class="mini-list-item">
                        <div class="mini-view_image">
                          <a class="grid-view-item__link" href="#"
                            ><img
                              class="grid-view-item__image"
                              src="../../../../assets/images/home/slider5.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="details">
                          <a class="grid-view-item__title" href="#"
                            >Block Button Up</a
                          >
                          <div class="grid-view-item__meta">
                            <span class="product-price__price"
                              ><span class="money">$378.00</span></span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="grid__item">
                      <div class="mini-list-item">
                        <div class="mini-view_image">
                          <a class="grid-view-item__link" href="#"
                            ><img
                              class="grid-view-item__image"
                              src="../../../../assets/images/home/slider5.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="details">
                          <a class="grid-view-item__title" href="#"
                            >Balda Button Pant</a
                          >
                          <div class="grid-view-item__meta">
                            <span class="product-price__price"
                              ><span class="money">$278.60</span></span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="grid__item">
                      <div class="mini-list-item">
                        <div class="mini-view_image">
                          <a class="grid-view-item__link" href="#"
                            ><img
                              class="grid-view-item__image"
                              src="assets/images/product-images/mini-product-img3.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="details">
                          <a class="grid-view-item__title" href="#"
                            >Border Dress in Black/Silver</a
                          >
                          <div class="grid-view-item__meta">
                            <span class="product-price__price"
                              ><span class="money">$228.00</span></span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <!--End Popular Products-->
            <!--Banner-->
            <!-- <div class="sidebar_widget static-banner">
              <img src="assets/images/side-banner-2.jpg" alt="" />
            </div> -->
            <!--Banner-->
            <!--Information-->
            <!-- <div class="sidebar_widget">
              <div class="widget-title">
                <h2>Information</h2>
              </div>
              <div class="widget-content">
                <p>
                  Use this text to share information about your brand with your
                  customers. Describe a product, share announcements, or welcome
                  customers to your store.
                </p>
              </div>
            </div> -->
            <!--end Information-->
            <!--Product Tags-->
            <!-- <div class="sidebar_widget">
              <div class="widget-title">
                <h2>Product Tags</h2>
              </div>
              <div class="widget-content">
                <ul class="product-tags">
                  <li>
                    <a href="#" title="Show products matching tag $100 - $400"
                      >$100 - $400</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag $400 - $600"
                      >$400 - $600</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag $600 - $800"
                      >$600 - $800</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Above $800"
                      >Above $800</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Allen Vela"
                      >Allen Vela</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Black"
                      >Black</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Blue">Blue</a>
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Cantitate"
                      >Cantitate</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Famiza"
                      >Famiza</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Gray">Gray</a>
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Green"
                      >Green</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Hot">Hot</a>
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag jean shop"
                      >jean shop</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag jesse kamm"
                      >jesse kamm</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag L">L</a>
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Lardini"
                      >Lardini</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag lareida"
                      >lareida</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Lirisla"
                      >Lirisla</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag M">M</a>
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag mini-dress"
                      >mini-dress</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Monark"
                      >Monark</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Navy">Navy</a>
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag new">new</a>
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag new arrivals"
                      >new arrivals</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Orange"
                      >Orange</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag oxford"
                      >oxford</a
                    >
                  </li>
                  <li>
                    <a href="#" title="Show products matching tag Oxymat"
                      >Oxymat</a
                    >
                  </li>
                </ul>
                <span class="btn btn--small btnview">View all</span>
              </div>
            </div> -->
            <!--end Product Tags-->
          </div>
        </div>
        <!--End Sidebar-->
        <!--Main Content-->

        <!--Featured Product-->

        <!--End Featured Product-->

        <!-- <div class="infinitpaginOuter">
        <div class="infinitpagin">
          <a href="#" class="btn loadMore">Load More</a>
        </div>
      </div> -->
      </div>
      <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
        <div class="product-rows section">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                  <h1 class="h2">All Products</h1>
                  <p>Our most popular products based on sales</p>
                </div>
              </div>
            </div>
            <div class="productList product-load-more">
              <!--Toolbar-->
              <!-- <button type="button" class="btn btn-filter d-block d-md-none d-lg-none"> Product Filters</button> -->
              <div class="toolbar">
                <div class="filters-toolbar-wrapper">
                  <div class="row">
                    <div
                      class="col-4 col-md-4 col-lg-4 filters-toolbar__item collection-view-as d-flex justify-content-start align-items-center"
                    >
                      <a
                        routerLink="/product/allproducts"
                        title="Grid View"
                        class="change-view change-view--active"
                      >
                        <img
                          src="../../../../assets/images/grid.jpg"
                          alt="Grid"
                        />
                      </a>
                      <a
                        routerLink="/product/listview"
                        title="List View"
                        class="change-view"
                      >
                        <img
                          src="../../../../assets/images/list.jpg"
                          alt="List"
                        />
                      </a>
                    </div>
                    <!-- <div
                    class="col-4 col-md-4 col-lg-4 text-center filters-toolbar__item filters-toolbar__item--count d-flex justify-content-center align-items-center">
                    <span class="filters-toolbar__product-count">Showing: 22</span>
                  </div> -->
                    <!-- <div class="col-4 col-md-4 col-lg-4 text-right">
                    <div class="filters-toolbar__item">
                      <label for="SortBy" class="hidden">Sort</label>
                      <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort">
                        <option value="title-ascending" selected="selected">Sort</option>
                        <option>Best Selling</option>
                        <option>Alphabetically, A-Z</option>
                        <option>Alphabetically, Z-A</option>
                        <option>Price, low to high</option>
                        <option>Price, high to low</option>
                        <option>Date, new to old</option>
                        <option>Date, old to new</option>
                      </select>
                      <input class="collection-header__default-sort" type="hidden" value="manual">
                    </div>
                  </div> -->
                  </div>
                </div>
              </div>
              <!--End Toolbar-->
            </div>
            <div class="grid-products">
              <!-- <div *ngFor="let product of products">
              <div *ngIf="selectedCategoryId === null || product.category.id === selectedCategoryId">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>

                <div class="product-images">
                  <img *ngFor="let image of product.images" [src]="image" alt="Product Image">
                </div>
              </div>
            </div> -->
              <div class="row product-images">
                <ng-container *ngFor="let product of products">
                  <div

                    class="col-6 col-sm-6 col-md-4 col-lg-4 item grid-view-item style2"
                  >
                    <div class="grid-view_image">
                      <!-- start product image -->

                      <!-- image -->
                      <div>
                        <a href="" class="grid-view-item__link">
                          <img
                            (click)="prdDetails(product.id)"
                            width="50"
                            height="100"
                            class="grid-view-item__image primary lazyload"
                            data-src="assets/images/product-images/product-image1.jpg"
                            [src]=""
                          />
                          <!-- End image -->
                          <!-- Hover image -->
                          <img
                            (click)="prdDetails(product.id)"
                            class="grid-view-item__image hover lazyload"
                            data-src="assets/images/product-images/product-image1-1.jpg"
                            [src]=""
                          />
                        </a>
                      </div>
                      <!-- End hover image -->
                      <!-- product label -->
                      <div class="product-labels rectangular">
                        <span class="lbl on-sale">-16%</span>
                        <span class="lbl pr-label1">new</span>
                      </div>
                      <!-- End product label -->

                      <!-- end product image -->
                      <!--start product details -->
                      <div
                        class="product-details hoverDetails text-center mobile"
                      >
                        <!-- product name -->
                        <div class="product-name">
                          <a (click)="prdDetails(product.id)"
                            >{{product.name}}</a
                          >
                        </div>
                        <!-- End product name -->
                        <!-- product price -->
                        <div class="product-price">
                          <!-- <span class="old-price">$500.00</span> -->
                          <span class="price"
                            >{{product.unitPrice|currency:"EGP":"symbol"}}</span
                          >
                        </div>
                        <!-- End product price -->

                        <!-- product button -->
                        <div class="button-set">
                          <!-- <a href="javascript:void(0)" title="Details" class="quick-view-popup quick-view"
                        data-toggle="modal" data-target="#content_quickview">
                        <i class="icon anm anm-search-plus-r"></i>
                      </a> -->
                          <!-- Start product button -->
                          <!-- <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                        <button class="btn cartIcon btn-addto-cart" title="Add To Cart" type="button" tabindex="0"><i
                            class="icon anm anm-bag-l"></i></button>
                      </form> -->
                          <!-- <div class="wishlist-btn">
                        <a class="wishlist add-to-wishlist" href="wishlist.html">
                          <i class="icon anm anm-heart-l"></i>
                        </a>
                      </div> -->
                          <!-- <div class="compare-btn">
                        <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                          <i class="icon anm anm-random-r"></i>
                        </a>
                      </div> -->
                        </div>
                        <!-- end product button -->
                      </div>
                      <!-- Variant -->
                      <!-- <ul class="swatches text-center">
                    <li class="swatch medium rounded"><img src="../../../assets/images/Products/gu9.png"
                        alt="image" /></li>
                    <li class="swatch medium rounded"><img src="../../../assets/images/Products/gu9.png"
                        alt="image" /></li>
                    <li class="swatch medium rounded"><img src="../../../assets/images/Products/gu9.png"
                        alt="image" /></li>
                    <li class="swatch medium rounded"><img src="../../../assets/images/Products/gu9.png"
                        alt="image" /></li>
                    <li class="swatch medium rounded"><img src="../../../assets/images/Products/gu9.png"
                        alt="image" /></li>
                    <li class="swatch medium rounded"><img src="../../../assets/images/Products/gu9.png"
                        alt="image" /></li>
                  </ul> -->
                      <!-- End Variant -->
                      <!-- End product details -->
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Main Content-->
    </div>
  </div>

  <!--End Body Content-->

  <!--Main Content-->
  <!-- <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col"> -->
  <!-- <div class="category-description">
    <h3>Category Description</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
    </p>
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
      literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
      College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
      going through the cites of the word in classical literature, discovered the undoubtable source.</p>
  </div> -->
  <!-- <hr> -->
  <!-- <div class="productList"> -->
  <!--Toolbar-->
  <!-- <button type="button" class="btn btn-filter d-block d-md-none d-lg-none"> Product Filters</button>
    <div class="toolbar">
      <div class="filters-toolbar-wrapper">
        <div class="row">
          <div
            class="col-4 col-md-4 col-lg-4 filters-toolbar__item collection-view-as d-flex justify-content-start align-items-center">
            <a href="shop-left-sidebar.html" title="Grid View" class="change-view change-view--active">
              <img src="assets/images/grid.jpg" alt="Grid" />
            </a>
            <a href="shop-listview.html" title="List View" class="change-view">
              <img src="assets/images/list.jpg" alt="List" />
            </a>
          </div>
          <div
            class="col-4 col-md-4 col-lg-4 text-center filters-toolbar__item filters-toolbar__item--count d-flex justify-content-center align-items-center">
            <span class="filters-toolbar__product-count">Showing: 22</span>
          </div>
          <div class="col-4 col-md-4 col-lg-4 text-right">
            <div class="filters-toolbar__item">
              <label for="SortBy" class="hidden">Sort</label>
              <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort">
                <option value="title-ascending" selected="selected">Sort</option>
                <option>Best Selling</option>
                <option>Alphabetically, A-Z</option>
                <option>Alphabetically, Z-A</option>
                <option>Price, low to high</option>
                <option>Price, high to low</option>
                <option>Date, new to old</option>
                <option>Date, old to new</option>
              </select>
              <input class="collection-header__default-sort" type="hidden" value="manual">
            </div>
          </div>

        </div>
      </div>
    </div> -->
  <!--End Toolbar-->
  <!-- <div class="list-view-items grid--view-items"> -->
  <!--ListView Item-->
  <!-- <div class="list-product list-view-item">
        <div class="list-view-item__image-column">
          <div class="list-view-item__image-wrapper">
             Image -->
  <!-- <a href="product-layout-2.html"><img class="list-view-item__image blur-up lazyload"
                data-src="assets/images/product-images/product-image1.jpg"
                src="assets/images/product-images/product-image1.jpg" alt="image" title="product"></a> -->
  <!-- End Image -->
  <!-- </div> -->
  <!-- </div>
        <div class="list-view-item__title-column">
          <div class="h4 grid-view-item__title"><a href="product-layout-2.html">Camelia Reversible Jacket</a></div> -->
  <!-- Product Review -->
  <!-- <p class="product-review"><i class="font-13 fa fa-star"></i><i class="font-13 fa fa-star"></i><i
              class="font-13 fa fa-star"></i><i class="font-13 fa fa-star-o"></i><i class="font-13 fa fa-star-o"></i>
          </p> -->
  <!-- End Product Review -->
  <!-- Sort Description -->
  <!-- <p>Belle Multipurpose Bootstrap 4 Html Template that will give you and your customers a smooth shopping
            experience which can be used for various kinds of stores such as boutiques, bookstores, technology stores,
            jewelries and other types of web shops....</p> -->
  <!-- End Sort Description -->
  <!-- Price -->
  <!-- <p class="product-price grid-view-item__meta">
            <span class="old-price">$600.00</span>
            <span class="product-price__price product-price__sale"><span class="money">$500.00</span></span>
          </p> -->
  <!-- End Price -->
  <!-- <form class="variants" action="#">
            <button class="btn btn--small" type="button">Select Options</button>
          </form>
        </div>
      </div> -->
  <!--End ListView Item-->

  <!-- </div>
  </div>
  <div class="infinitpaginOuter">
    <div class="infinitpagin">
      <a href="#" class="btn loadMore">Load More</a>
    </div>
  </div>
</div> -->
  <!--End Main Content-->
</div>
