<div class="container">

    <div class="container square-box d-flex justify-content-center ">
        <div>
            <img src="./assets/images/myjumia-top-logo.png" class="card-img-top my-5" style="width: 8rem !important;">
        </div>
    </div>

    <div class="container square-box d-flex justify-content-center ">

        <div>
            <h2>What's your phone number?</h2>
        </div>
    </div>

    <div class="container square-box d-flex justify-content-center  ">
        <div>
            <h5 class="opacity-75"><h3>Type your phone number to log in or create a Jumia account.</h3></h5>
        </div>
    </div>
    <div class="m-5"></div>

    <div class="container square-box d-flex justify-content-center ">


        <div class="selectinput">
            <select>
                <option value="Select Your Country" selected disabled>select Country</option>
                <option value="US +1">United State +1</option>
                <option value="Uk +44">United Kingdom +44</option>
                <option value="Egypt +20">Egypt +20</option>
            </select>
            <span><h2>Prefix</h2> </span>
        </div>


        <div class="inputbox ">
            <input type="text" required="required">
            <span>Phone Number</span>
        </div>

    </div>


    <div class="container square-box d-flex justify-content-center my-5 ">
        <div>
            <button type="button" class="btn  btn-sign-in-continue shadow-lg">
                <h3 style="color: aliceblue;width: 100%;"><h1> <strong>Continue</strong></h1> </h3>
            </button>
        </div>

    </div>

    <div class="container square-box d-flex justify-content-center ">
        <div class="linkToRegister">
            <a routerLink="/login">
                <h2>Login in or Register With Email Address</h2>
            </a>
        </div>

    </div>


    <footer class="container square-box d-flex justify-content-center" style="margin-top:  12%;">
        <span>
            <h4>For further support, you may visit the Help Center or contact our customer service team.</h4>
        </span>

    </footer>
</div>