<!--Body Content-->
<div id="page-content">
  <!--Page Title-->
  <div class="page section-header text-center">
    <div class="page-title">
      <div class="wrapper">
        <h1 class="page-width">{{'yc'|translate}}</h1>
      </div>
    </div>
  </div>
  <!--End Page Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
        <div *ngIf="getCartDetails">
          <form action="#" method="post" class="cart style2">
            <table class="col-lg-12">
              <thead class="cart__row cart__header">
                <tr>
                  <th class="text-center">{{'image'|translate}}</th>
                  <th class="text-center">{{'name'|translate}}</th>
                  <th class="text-center">{{'discount'|translate}}</th>
                  <!-- <th class="text-center">Discription</th> -->
                  <th class="text-center">{{'unp'|translate}}</th>
                  <!-- <th class="text-center">Brand</th>
                <th class="text-center">Date</th>
                <th class="text-right">IsFeatured</th> -->
                  <th class="text-center">{{'qu'|translate}}</th>
                  <th class="text-right">{{'total'|translate}}</th>
                  <th class="text-right"></th>

                  <!-- <th class="action">&nbsp;</th> -->
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let getCartDetail of getCartDetails"
                  class="cart__row border-bottom line1 cart-flex border-top"
                >
                  <td class="cart__image-wrapper cart-flex-item text-center">
                    <img
                      [src]="getCartDetail.imageurl"
                      width="50"
                      height="60"
                    />
                  </td>
                  <td class="cart__image-wrapper cart-flex-item text-center">
                    {{getCartDetail.name}}
                  </td>

                  <td class="cart__price-wrapper cart-flex-item text-center">
                    <span class="money">{{getCartDetail.discountpercent}}</span>
                  </td>
                  <!-- <td class="cart__price-wrapper cart-flex-item text-center">
                  <span class="money">{{getCartDetail.Discription}}</span>
                </td>  -->
                  <td class="cart__price-wrapper cart-flex-item text-center">
                    <span class="money">{{getCartDetail.unitprice}}</span>
                  </td>
                  <!-- <td class="cart__price-wrapper cart-flex-item text-center">
                  <span class="money">{{getCartDetail.Brand}}</span>
                </td>
                <td class="cart__price-wrapper cart-flex-item text-center">
                  <span class="money">{{getCartDetail.Date}}</span>
                </td>
                <td class="cart__price-wrapper cart-flex-item text-center">
                  <span class="money">{{getCartDetail.IsFeatured}}</span>
                </td> -->
                  <td class="cart__price-wrapper cart-flex-item text-center">
                    <div class="cart__qty text-center">
                      <div class="qtyField">
                        <a
                          class="qtyBtn minus"
                          href="javascript:void(0);"
                          (click)="decQnt(getCartDetail.id , getCartDetail.quantity)"
                          ><i class="icon icon-minus"></i
                        ></a>
                        <!-- <input class="cart__qty-input qty" type="text" name="updates[]" id="qty"
                       value={{getCartDetail.Quantity}}  pattern="[0-9]*"> -->
                        <span class="p-2">{{getCartDetail.quantity}}</span>
                        <!-- <input style="width: 5rem;text-align: center;"
                        type="number" value="1" min="1" [max]="getCartDetail.quantity" /> -->
                        <a
                          class="qtyBtn plus"
                          href="javascript:void(0);"
                          (click)="incQnt(getCartDetail.id , getCartDetail.quantity)"
                          ><i class="icon icon-plus"></i
                        ></a>
                      </div>
                    </div>
                  </td>
                  <td class="text-right small--hide cart-price text-center">
                    {{getCartDetail.quantity * getCartDetail.unitprice |
                    number}}
                  </td>
                  <td class="text-center small--hide">
                    <button
                      class="btn btn-danger"
                      (click)="singleDelete(getCartDetail.Id)"
                    >
                      <i class="icon icon anm anm-times-l"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="6" class="text-left">
                    <h3>
                      <strong class="mx-1">{{'tp'|translate}}:</strong>{{'egp'|translate}} {{total}}
                    </h3>
                  </td>
                  <!-- <td colspan="3" class="text-right"><button type="submit" name="update" class="btn--link cart-update"><i
                      class="fa fa-refresh"></i> Update</button></td> -->
                  <td colspan="3" class="text-light">
                    <button
                      type="submit"
                      name="remove all cart"
                      class="btn btn-danger"
                      (click)="removeAll()"
                    >
                    {{'rac'|translate}}
                    </button>
                  </td>
                </tr>
              </tfoot>
            </table>

            <div class="currencymsg">
              <!-- We processes all orders in USD. While the content of your cart is
              currently displayed in USD, the checkout will use USD at the most
              current exchange rate. -->
            </div>
            <hr />

            <div id="shipping-calculator" class="mb-4">
              <h5 class="small--text-center">{{'gse'|translate}}</h5>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 actionRow text-center">
                  <div>
                    <input
                      type="button"
                      class="btn btn--secondary get-rates"
                      value="{{'cs'|translate}}"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
        <div class="cart-note">
          <div class="solid-border">
            <h5>
              <label
                for="CartSpecialInstructions"
                class="cart-note__label small--text-center"
                >{{'aan'|translate}}</label
              >
            </h5>
            <textarea
              name="note"
              id="CartSpecialInstructions"
              class="cart-note__input"
            ></textarea>
          </div>
        </div>
        <div class="solid-border">
          <div class="row">
            <span class="col-12 col-sm-6 cart__subtotal-title"
              ><strong>{{'su'|translate}}</strong></span
            >
            <span
              class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"
              ><span class="money">{{total}}</span></span
            >
          </div>
          <div class="cart__shipping">
            {{'sat'|translate}}
          </div>
          <p class="cart_tearm">
            <label>
              <input
                type="checkbox"
                name="tearm"
                id="cartTearm"
                class="checkbox"
                value="tearm"
                required=""
              />
              {{'iaw'|translate}}</label
            >
          </p>
          <input
            type="submit"
            name="checkout"
            id="cartCheckout"
            class="btn btn--small-wide checkout btn--secondary"
            value="{{'che'|translate}}"
            routerLink="checkout/paypal"
          />
          <div class="paymnet-img">
            <img
              src="../../../../assets/images/payment-img.jpg"
              alt="Payment"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Body Content-->
